*.zip
*.log
*.pdf
*.xls
*.cpp
*.rar
*.txt
*.exe
*.config
*.pdb
*.cache
*AssemblyInfo.cs
*TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*л.р.3.csproj.FileListAbsolute.txt
*л.р.3.csproj
*л.р.3.sln
*л.р.3.v12.suo
*л.р.3.vshost.exe.manifest
